body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2256px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:969px;
}
#u4866 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:969px;
}
#u4866_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Sans Serif Bold', 'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:700;
  font-style:normal;
}
#u4867 {
  border-width:0px;
  position:absolute;
  left:1599px;
  top:158px;
  width:224px;
  height:25px;
  font-family:'Microsoft Sans Serif Bold', 'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:700;
  font-style:normal;
}
#u4867_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:220px;
  word-wrap:break-word;
}
#u4868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:51px;
}
#u4868 {
  border-width:0px;
  position:absolute;
  left:1563px;
  top:37px;
  width:129px;
  height:51px;
}
#u4868_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(128, 0, 128, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Sans Serif Bold', 'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:700;
  font-style:normal;
  color:#800080;
}
#u4869 {
  border-width:0px;
  position:absolute;
  left:1567px;
  top:193px;
  width:296px;
  height:42px;
  font-family:'Microsoft Sans Serif Bold', 'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:700;
  font-style:normal;
  color:#800080;
}
#u4869_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:292px;
  word-wrap:break-word;
}
#u4870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4870 {
  border-width:0px;
  position:absolute;
  left:1686px;
  top:817px;
  width:212px;
  height:88px;
}
#u4870_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4871_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:70px;
  height:70px;
}
#u4871 {
  border-width:0px;
  position:absolute;
  left:1829px;
  top:753px;
  width:60px;
  height:60px;
}
#u4871_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
  background:inherit;
  background-color:rgba(128, 0, 128, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4872 {
  border-width:0px;
  position:absolute;
  left:1855px;
  top:792px;
  width:24px;
  height:14px;
}
#u4872_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
  background:inherit;
  background-color:rgba(128, 0, 128, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4873 {
  border-width:0px;
  position:absolute;
  left:1860px;
  top:795px;
  width:17px;
  height:15px;
  -webkit-transform:rotate(345deg);
  -moz-transform:rotate(345deg);
  -ms-transform:rotate(345deg);
  transform:rotate(345deg);
}
#u4873_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4874 {
  border-width:0px;
  position:absolute;
  left:1839px;
  top:775px;
  width:42px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4874_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u4875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:32px;
  background:inherit;
  background-color:rgba(128, 0, 128, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft New Tai Lue Bold', 'Microsoft New Tai Lue';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u4875 {
  border-width:0px;
  position:absolute;
  left:1979px;
  top:807px;
  width:146px;
  height:32px;
  font-family:'Microsoft New Tai Lue Bold', 'Microsoft New Tai Lue';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u4875_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:142px;
  word-wrap:break-word;
}
#u4876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:28px;
}
#u4876 {
  border-width:0px;
  position:absolute;
  left:1980px;
  top:811px;
  width:78px;
  height:28px;
}
#u4876_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(128, 0, 128, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft New Tai Lue Bold', 'Microsoft New Tai Lue';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u4877 {
  border-width:0px;
  position:absolute;
  left:1981px;
  top:747px;
  width:50px;
  height:50px;
  font-family:'Microsoft New Tai Lue Bold', 'Microsoft New Tai Lue';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u4877_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:45px;
}
#u4878 {
  border-width:0px;
  position:absolute;
  left:1981px;
  top:753px;
  width:109px;
  height:39px;
}
#u4878_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4879 {
  border-width:0px;
  position:absolute;
  left:2064px;
  top:747px;
  width:50px;
  height:50px;
}
#u4879_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:45px;
}
#u4880 {
  border-width:0px;
  position:absolute;
  left:2065px;
  top:752px;
  width:109px;
  height:39px;
}
#u4880_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:55px;
}
#u4881 {
  border-width:0px;
  position:absolute;
  left:2142px;
  top:747px;
  width:61px;
  height:55px;
}
#u4881_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:45px;
}
#u4882 {
  border-width:0px;
  position:absolute;
  left:2147px;
  top:750px;
  width:109px;
  height:39px;
}
#u4882_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:32px;
  background:inherit;
  background-color:rgba(128, 0, 128, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft New Tai Lue Bold', 'Microsoft New Tai Lue';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u4883 {
  border-width:0px;
  position:absolute;
  left:1981px;
  top:849px;
  width:146px;
  height:32px;
  font-family:'Microsoft New Tai Lue Bold', 'Microsoft New Tai Lue';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u4883_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:142px;
  word-wrap:break-word;
}
#u4884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:28px;
}
#u4884 {
  border-width:0px;
  position:absolute;
  left:1982px;
  top:853px;
  width:78px;
  height:28px;
}
#u4884_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
